*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 400;
}

body {
  font-family: "Inter Tight", sans-serif;
  /* width: 100%; */
}

/* section {
    width: 100vw;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Global Typography Styles */

h1 {
  font-size: 80px;
  line-height: 1.1; /* Adjust as needed for spacing */
  font-weight: bold;
}

h2 {
  display: inline-block;
  font-size: 50px;
  line-height: 1.2;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
}

h4 {
  display: inline-block;
  font-size: 30px;
  line-height: 2.1;
  font-weight: 200;
  letter-spacing: -1px;
  padding-left: 7px;
  padding-right: 7px;
  color: #5e5e5e;
}

h5 {
    display: inline-block;
    font-size: 22px;
    font-weight: 200;
    line-height: 2;
    letter-spacing: -1px;
    color: black;
}

h6 {
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
p,
li {
  font-size: 16px;
  line-height: 1.4;
}

p {
  margin-bottom: 1rem;
}

/* UTILITY CLASSES */
.dark-grey {
  color: #5e5e5e;
}

.default-margin {
  /* margin-left: 15vw;
  margin-right: 20vw; */
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 100vw;
}

.underscore {
  background-color: #5e5e5e;
  height: 4px;
  width: 40px;
}

.link {
  text-decoration: underline;
}

.m-xs {
  margin-top: 8px;
}

.mt-s {
  margin-top: 16px;
}

.mt-m {
  margin-top: 32px;
}

.mt-l {
  margin-top: 64px;
}

.mb-xs {
  margin-bottom: 8px;
}

.mb-s {
  margin-bottom: 16px;
}

.mb-m {
  margin-bottom: 32px;
}

.mb-l {
  margin-bottom: 64px;
}

.ml-xs {
    margin-left: 0px;
    padding-left: 0px;
}

.ml-s {
    margin-left: 10px;
}
.ml-l {
    margin-left: 8%;
}

.mr-s {
    margin-right: 10px;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 500;
}
